body {
    font-size: 16px;
}

.container {
    
}


.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-flex h1 {
    font-size: 5vw;
    flex: 3;
    
}

.number-container {
 border: 1px solid;
     height: 20vw;
    width: 30vw;
    text-align: center;
}

.body-flex {
    display: flex;
    justify-content: center;
}

.question-container {
    background: rgb(84, 71, 97);
    text-align: center;
    width: 80vw;
    margin-top: 5vh;
}

.question-title {
    font-size: 3vw;
    font-weight: bold;
}

.question {
    font-weight: bolder;
    color: red;
}

.answer {

    border: 1px solid black;
    font-size: 3vw;
    background: white;

}

.answer:hover {
    background: pink;
    cursor: pointer;
}