@font-face { font-family: Steamster; src: url('../font/Streamster.ttf'); }
@font-face { font-family: Audiowide; src: url('../font/Audiowide-Regular.ttf'); }
@font-face { font-family: Axis; src: url('../font/Axis\ Extrabold.otf'); }

body {
    font-size: 16px;
    /* background: linear-gradient( #206,  #609); */
    background: linear-gradient( #206,  #609);
    /* background: black; */
    color: white;
    font-family: Audiowide, sans-serif;
    height: 100vh;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-image {
    width: 60vw;
}

/* h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */


#trivial {
    font-size: 72px;
    font-family: "Streamster";
    color: #f409af;
    transform: skewY(35deg);
    z-index: 4;
}

#trivial::after {
    box-shadow:
        0 0 60px 30px #a70761,
        /* inner white */
        0 0 100px 60px #ff00fc,
        /* middle magenta */
        inset 60px 0 120px #f0f,
        /* left magenta */
        inset -60px 0 120px #0ff;
    /* right cyan */
}

.mid-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.number-container {
    
    height: 10vw;
    width: 20vw;
    text-align: center;
    margin-right: 5vw;
    order: 2;
    border: 3px solid #0cd808;
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 0 1px #b3ff51, 
                0 0 2px #b3ff51,
                0 0 6px #b3ff51,
                0 0 12px #b3ff51,
                inset 0 0 1px #b3ff51,
                inset 0 0 2px #b3ff51,
                inset 0 0 6px #b3ff51, 
                inset 0 0 12px #b3ff51;
    z-index: -9990;
}

.number-container h6 {
    align-self: center;
    font-size: 2vw;
    margin-top: 1vh;
    font-family: 'League Script', cursive;
    color: #14a5ff;
    text-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9, 0 0 6px #22cef9;
    
}

#timeID {
    font-size: 6vw;
    align-self: flex-end;
    letter-spacing: 10px;
    color: #f90000;
    text-shadow: 0 0 1px #ff1919, 0 0 2px #ff1919, 0 0 6px #ff1919, 0 0 12px #ff1919;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #db0808;

}

.body-flex {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    flex-grow: 3;
}



.question-container {
    background: #a043b5;
    text-align: center;
    width: 60vw;
    flex-grow: 2;
    /* border: 5px solid #FFEB3B; */
    border: 5px solid #ffffff;
    padding-bottom: 20px;
    box-shadow:  0 0 20px red, 0 0 50px blue;
}

.question-title {
    font-size: 3vw;
    font-weight: bold;
    padding: 20px;
    font-family: Axis, sans-serif;
}

.answer {
    font-weight: bolder;
    color: red;
    background: white;
    border: 1px solid black;
    vertical-align: middle;
    padding: 30px;
}

.answer:hover {
    background: pink;
    cursor: pointer;
}

.incorrect, .correct {
    font-size: 1.5vw;
    margin-top: 30px;
}

.img-container {
    align-content: center;
}


.transition-image {
    align-self: center;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 50px;
    
}

.win-div {
    top: 170px;
}

.reset-button {
    
    border: 1px #E91E63 solid;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    transition: all 1s;
}

.reset-button:hover {
    cursor: pointer;
    background: #ff5722;
    color: white;
    
}

.test-image {
    align-self: center;
    width: 400px;
    height: auto;
}